.main{
}

.line{
    display: flex;
    flex-direction: row;
}

.patients-area{
    background-color: aquamarine;
}

.onco-tests-area{

    background-color: aqua;
}

.results-area{
    background-color: blueviolet;
}

.graphs-area{
    background-color: blanchedalmond;
}


.id-placeholder{
    display: none;
}

.test-card{
    border: 1px solid black;
    margin-bottom: 2px;
}





#save-patient{
    display: none;
}