
.deathdate-fields{
    visibility: hidden;
}

.main{
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin-top: 50px;
    margin-left: 20px;

 }

#patients-area{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.patient-info{
    width: 400px;
}

.id-placeholder{
    display: none;
}

.inline-fields{
    display: flex;
    flex-direction: row;

}

.patient-line{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    margin-bottom: 2px;
}





.patient-card{
    background-color: white;
    border: 1px solid black;
    width: 300px;
}
.patient-card p{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
}
.patient-card:hover{
    background-color: whitesmoke;
}



.patient-to-test-btn{
    width: 80px;
    background-color: white;
    border: 1px solid black;
    margin-left: 10px;
    text-align: center;
    vertical-align:middle;

}
.patient-to-test-btn:hover{
    background-color: whitesmoke;
}

.patient-delete-btn{
    width: 20px;
    background-color: white;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
    vertical-align:middle;

}
.patient-delete-btn:hover{
    background-color: whitesmoke;
}