<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ТЕСТЫ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>


  <link rel="stylesheet" href="../static/css/onco_tests.css">
  <link th:href="@{/css/onco_tests.css}" rel="stylesheet" />

  <script type="module" src="../static/js/onco_tests.js"></script>
  <script type="module" th:src="@{/js/onco_tests.js}"></script>


</head>
<body>
    <div class = "main">
      <div class="line">
        <div class="patients-area"> 
          Тут будет пациент
        </div>
        
        <div>
          ---------------------------
          <div>
            <input type="number" id="current-test-id" class="id-placeholder">
            <input type="date" id="current-test-date" valuename="deathdate" class="form-control field" disabled>
          </div>
          ---------------------------
            
            <div class="onco-tests-area">
          
            </div>
            ---------------------------
            <div>
              <input type="date" id="save-test-date" valuename="newtestdate" class="form-control field">
              <input type="submit" id="new-test-btn" value="Добавить">
            </div>
            ---------------------------
            
        </div>
        <div class = "results-area">
          
          <div class ="param-column Hematological">
            Гематологическое исследование 
          </div>
          <div class ="param-column Immunological">
            Имунный статус
          </div>
          <div class ="param-column Cytokine">
            Цитокиноый статус
          </div>
          
          <div class ="param-column Indexies">
            Индексы
          </div>
        </div>
      </div>
        
        
        <div class="graphs-area">
          <div class = "chart">
            <canvas  id="B-chart"></canvas>
          </div>
          ТУТ БУДУТ ГРАФИКИ
        </div>
    </div>
</body>