<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ПАЦИЕНТЫ</title>
  <link rel="stylesheet" href="../static/css/patients.css">
  <!--<link th:href="@{/css/patients.css}" rel="stylesheet" />-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="../static/js/patients.js"></script>
  <!--<script type="text/javascript" th:src="@{/js/patients.js}"></script>-->  


</head>
  <body>
    <div class="main">
      <div id="patients-area">
      </div>

      <div class="patient-info">

        <form class="patient_edit_form">
          <div  id="id-field"></div>

          <input type="text" id="lastname-field" class="form-control  field" placeholder="Фамилия"><br>
          <input type="text" id="name-field" class="form-control  field" placeholder="Имя"><br>
          <input type="text" id="patron-field" class="form-control  field" placeholder="Отчество"><br>
          <input type="date" id="birth-field" valuename="date" class="form-control field"/>
          <select  id="gender-field" class=" form-control  field gender-field">
              <option value="Male">мужской</option>
              <option value="Female">женский</option>
          </select>
          <br>
          <input type="text" id="diagnosis-field" class="form-control  field" placeholder="Диагноз основной"><br>
          <input type="text" id="diagnosisOther-field" class="form-control  field" placeholder="Диагноз дополнительный"><br>
          
          <label for="checkbox">Мертв:</label>
          <input type="checkbox" id="alive-checkbox">

          <div class="inline-fields deathdate-fields">
            <label for="deathdate-field" id="deathdate-field-label">Дата смерти:</label>
            <input type="date" id="deathdate-field" valuename="date" class="form-control field"/>

          </div>
          <br>
          <textarea id="info" placeholder="Доп. Информация"></textarea><br>
          <button>Сохранить</button>
      </form>
      </div>


    </div>


    


    
  






  </body>
</html>